@charset "utf-8";
@import url(../lib/layui/css/layui.css);
*{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
    overflow-x:hidden; 
    overflow-y:auto;
}
body{
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
    /*background: #fff;*/
}
.x-red{
    color: red;
}

.layui-form-switch{
    margin-top: 0px;
}
.layui-input:focus, .layui-textarea:focus {
    border-color: #189f92!important;
}

.layui-fluid{
    padding:15px;
}
.x-nav{
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
    background: #fff;
}
.page{
    text-align: center;

}
.page a{
    display: inline-block;
    background: #fff;
    color: #888;
    padding: 5px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}
.page span{
    display: inline-block;
    padding: 5px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}
.page span.current{
    display: inline-block;
    background: #009688;
    color: #fff;
    padding: 5px;
    min-width: 15px;
    border: 1px solid #009688;
}
.page .pagination li{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.page .pagination li.active span{
    background: #009688;
    color: #fff;
    border: 1px solid #009688;

}
.page-content{
    position: absolute;
    top: 45px;
    right: 0;
    /*bottom: 42px;*/
    bottom: 0px;
    left: 220px;
    overflow: hidden;
    z-index: 1;
}
.page-content-bg{
    position: absolute;
    top: 45px;
    right: 0;
    /*bottom: 42px;*/
    bottom: 0px;
    left: 220px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 100;
    display: none;
}

.page-content .tab{
    height: 100%;
    width: 100%;
    /*background: #EFEEF0;*/
    margin: 0px;
}

.page-content .layui-tab-title li.home i{
    padding-right: 5px;
}
.page-content .layui-tab-title li.home .layui-tab-close{
    display: none;
}
.page-content .layui-tab-title li{
    line-height: 35px;
}
.page-content .layui-tab-title .layui-this:after{
    height: 36px;
}
.page-content .layui-tab-title li .layui-tab-close{
    border-radius: 50%;
}
.page-content .layui-tab-title .layui-this{
    background: #fff ;
}
.page-content .layui-tab-bar{
    height:34px;
    line-height: 35px;
}
.page-content .layui-tab-content{
    position: absolute;
    top: 36px;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}
.page-content .layui-tab-content .layui-tab-item{
    width: 100%;
    height: 100%;
    
}
.page-content .layui-tab-content .layui-tab-item iframe{
    width: 100%;
    height: 100%;

}
.x-admin-carousel,.layui-carousel,.x-admin-carousel>[carousel-item]>* {
    background-color:#fff
}

.x-admin-backlog .x-admin-backlog-body {
    display:block;
    padding:10px 15px;
    background-color:#f8f8f8;
    color:#999;
    border-radius:2px;
    transition:all .3s;
    -webkit-transition:all .3s
}
.x-admin-backlog-body h3 {
    padding-bottom:10px;
    font-size:12px
}
.x-admin-backlog-body p cite {
    font-style:normal;
    font-size:30px;
    font-weight:300;
    color:#009688
}

.layui-table td, .layui-table th{
    min-width: 80px;
}

table th, table td {
    word-break: break-all;
}


@media screen and (max-width: 768px){
    .fast-add{
        display: none;
    }
    .layui-nav .to-index{
        display: none;
    }
    .container .logo a{
        width: 140px;
    }
    .container .left_open {
        /*float: right;*/
    }
    .left-nav{
        width: 60px;
    }
    .left-nav #nav li a i{
        font-size: 18px;
    }
    .left-nav cite,.left-nav .nav_right{
        display: none;
    }
    .page-content{
        left: 60px;
    }
    .page-content .layui-tab-content .layui-tab-item{
        -webkit-overflow-scrolling: touch; 
        overflow-y: scroll; 
    }
    .x-so input.layui-input{
        width: 100%;
        margin: 10px;
    }
}

.x-admin-sm .layui-table td, .x-admin-sm .layui-table th{
    font-size: 12px;
}
.x-admin-sm .layui-elem-field legend{
    font-size: 18px;
}

.x-admin-sm .x-admin-backlog-body p cite{
    font-size: 24px;
}
.x-admin-sm .left-nav #nav li a cite{
    font-size: 12px;
}
.x-admin-sm .iconfont{
    font-size: 14px;
}
.x-admin-sm .layui-tab-title li{
    font-size: 12px;
}
.x-admin-sm .layui-icon{
    font-size: 14px;
}
.x-admin-sm .layui-nav *{
    font-size: 12px;
}
.x-admin-sm  .layui-breadcrumb>*{
   font-size: 12px; 
}
.x-admin-sm  .layui-btn,.x-admin-sm .layui-btn-xs,.x-admin-sm .layui-btn-sm{
    font-size: 12px;
}

.x-admin-sm .layui-laydate{
    font-size: 12px;
}
.x-admin-sm  .layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.x-admin-sm .layui-btn-lg{
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    font-size: 14px;
}
.x-admin-sm .layui-layer-title,.x-admin-sm .layui-layer-dialog .layui-layer-content{
    font-size: 12px;
}
.x-admin-sm .layui-input,.x-admin-sm .layui-select,.x-admin-sm .layui-textarea{
    height: 30px;
}

.x-admin-sm .layui-form-pane .layui-form-label{
    height: 30px;
    line-height: 14px;
}
.x-admin-sm .layui-form-checkbox span{
    font-size: 12px;
}

