<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminRole.css"/>
    <link rel="stylesheet" type="text/css" href="/css/xadmin.css">


    <script src="/js/xadmin.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminRoleManage.js"></script>
    <script src="/lib/laydate.laydate.js"></script>

    <script>
        laydate.render({
            elem: '#strategy-start-date-input',
            format: 'yyyy-MM-dd'
        });
    </script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg"/>
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/cinema/vip"><i class="icon-credit-card"></i> 会员管理</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-group"></i> 角色管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">会员管理</span>
        </div>
        <div class="content-strategy">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                                <button class="layui-btn" onclick="xadmin.open('添加用户','./role-add.html',600,400)"><i class="layui-icon"></i>添加</button>
                            </div>
                            <div class="layui-card-body ">
                                <table class="layui-table layui-form">
                                    <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name=""  lay-skin="primary">
                                        </th>
                                        <th>ID</th>
                                        <th>角色名</th>
                                        <th>拥有权限规则</th>
                                        <th>描述</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name=""  lay-skin="primary">
                                        </td>
                                        <td>1</td>
                                        <td>超级管理员</td>
                                        <td>会员列表，问题列表</td>
                                        <td>具有至高无上的权利</td>
                                        <td class="td-status">
                                            <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
                                        <td class="td-manage">
                                            <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                                                <i class="layui-icon">&#xe601;</i>
                                            </a>
                                            <a title="编辑"  onclick="xadmin.open('编辑','role-add.html')" href="javascript:;">
                                                <i class="layui-icon">&#xe642;</i>
                                            </a>
                                            <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                                                <i class="layui-icon">&#xe640;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-card-body ">
                                <div class="page">
                                    <div>
                                        <a class="prev" href="">&lt;&lt;</a>
                                        <a class="num" href="">1</a>
                                        <span class="current">2</span>
                                        <a class="num" href="">3</a>
                                        <a class="num" href="">489</a>
                                        <a class="next" href="">&gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>